*,*::after,*::before{
    margin: 0;
}
h1{
    color: rgb(61, 143, 7);
}
h2{
    font-size: xx-large;
}
/* p{
    font-size: larger;
} */
img{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding-left: 20px;
}

#nav-bar{
    background-color: rgb(90, 85, 85);
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.nav-logo p{
    color: white;
    font-size: medium;
}
.logo{
    width: 60%;
    padding-left: 15px;
    margin-top: 10px;
}
.left{
    width: 40%;
    display: flex;
}
.hamburger{
    width: 20%;
    padding-top: 10px;
}
.menu{
    display: none;
}
.menuitems{
    display: none;
}
.contact-sales{
    display: none;
}
.free-trial{
    background: transparent;
    padding: 10px 10px;
    margin: 10px;
    margin-right: 20px;
    border: 1px solid white;
    color: white;
}
.hidden{
    display: none;
}
#drop img{
    width: 20px;
    padding-left: 5px;
    vertical-align: middle;
}

/* section one */
.retail{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.try{
    background-color: green;
    color: white;
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 5px;
}
.get-started{
    background-color: green;
    color: white;
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 5px;
}
.section2-mobile{
    background-color: rgb(10, 10, 66);
    margin-top: 20px;
}
.optimize{
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.desk-img{
    display: none;
}
.mobile-img{
    display: block;
}
.desktop{
    display: none;
}
.desktop-multistore{
    display: none;
}
.desktop-upgrade{
    display: none;
}













/* Tablet */
@media screen and (min-width: 768px) {
    .logo{
        width: 70%;
    }
    .left{
        width: 30%;
        
    }
    .menu {
        display: block;
        /* padding-right: 15px; */
        text-transform: capitalize;
        margin-top: 20px;
        margin-right: 10px;
        color: white;
    }
    .free-trial button{
        padding: 10px 10px;
        margin-top: 20px;
    }
    .vend-button{
        display: flex;
    }
    .freetrial{
        width: 33%;
        padding-left: 10px;
    }
    .contactsale{
        width: 33%;
        padding-left: 10px;
    }
    .getsupport{
        width: 33%;
        padding-left: 10px;
    }
    .hamburger{
        width: 15%;
    }
      /* section one */
    /* .mobile-img{
        display: none;
    }
    .desk-img{
        display: block;
    }
    .retail{
        position: absolute;
        top: 100px;
        left: 35px;
        width: 30%;
        text-align: left;
    }
    .retail h2{
        font-size: xx-large;
        padding-bottom: 10px;
    }
    .retail p{
        font-size: larger;
    }
    /* .try{
        padding: 5px 5px;
    } */
    /*
    .section2-mobile{
        position: absolute;
        top: 40%;
        right: 50px;
        width: 25%;
        border-radius: 50%;
        padding: 10px 0;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktop-multistore{
        display:block;
        padding-top: 10px;
    }
    .mobile-multistore{
        display: none;
    }
    .desktop-upgrade{
        display:block;
    }
    .mobile-upgrade{
        display: none;
    }
    .get-started{
        width: 60%;
        padding: 10px 0;
        font-size: small;
    } */
        
}
/* Desktop */
@media screen and (min-width:1024px){
    .menuitems{
        display: block;
        width: 65%;
        /* padding-left: 0px; */
        font-size: small;
        margin-top: 20px;
    }
    .logo{
        width: 10%;
    }
    .nav-logo p{
        font-size: medium;
       
    }
    .left{
        width: 25%;

    }
    .contact-sales{
        display: block;
        background-color:transparent;
        border: 2px solid white;
        color: white;
        margin: 15px -5px;
    }
    /* .contact-sales{
        display: block;
        width:50% ;
        border: 2px solid white;
       
    } */
    .free-trial{
        background-color: rgb(61, 143, 7);
        margin: 20px ;
        margin-left: 40px;
        padding: 12px 15px;
        border: none;
        color: white;
    }
    /* .free-trial{
        margin-left: 5px;
    } */
    .hamburger{
        display: none;
    }
    .menu{
        display: none;
    }
    .dropdown{
        display: none;
    }
      /* section one */
    .mobile-img{
        display: none;
    }
    .desk-img{
        display: block;
    }
    .retail{
        position: absolute;
        top: 100px;
        left: 35px;
        width: 30%;
        text-align: left;
    }
    .retail h2{
        font-size: xx-large;
        width: 90%;
        padding-bottom: 10px;
    }
    .try{
        padding: 10px 10px;
    }

    .section2-mobile{
        position: absolute;
        bottom: 100px;
        right: 70px;
        width: 25%;
        border-radius: 50%;
        padding: 10px;
        
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktop-multistore{
        display:block;
        padding-top: 10px;
    }
    .mobile-multistore{
        display: none;
    }
    .desktop-upgrade{
        display:block;
        font-size: large;
    }
    .mobile-upgrade{
        display: none;
    }
    .optimize p{
        font-size: larger;
    }
    .get-started{
        width: 80%;
        padding: 10px 0;
    }
        
}


  






























































/* Drop down */
.dropdown{
    width: 100%;
    background-color:whitesmoke;
    margin: 0 auto;
}
.vend{
    border: 1px solid transparent;
    padding: 10px;
}
.vend a{
    color: black;
}
#dropdownmenu img{
    width: 15px;
    padding-left: 5px;
    vertical-align: middle;
    float: right;
}
.vend-button{
    margin: auto;
    width: 90%;
}
.vend-button button{
    width:100%;
    border: 1px solid rgb(10, 153, 189);
    margin-bottom: 10px;
    border-radius: 5px;
}
.freetrial button{
    background-color:  rgb(61, 143, 7);
    
}
