*,*::after,*::before{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(61, 143, 7);
}
h2{
    font-size: xx-large;
}
/* p{
    font-size: larger;
} */
img{
    width: 100%;
}
.menuitems a{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding-left: 20px;
}

#nav-bar{
    background-color: rgb(90, 85, 85);
    width: 100%;
    margin: 0 auto;
    display: flex;
   
}
.nav-logo p{
    color: white;
    font-size: medium;
}
.logo{
    width: 60%;
    padding-left: 15px;
    margin-top: 10px;
}
.left{
    width: 40%;
    display: flex;
}
.hamburger{
    width: 20%;
    padding-top: 10px;
}
.menu{
    display: none;
}
.menuitems{
    display: none;
}
.contact-sales{
    display: none;
}
.free-trial{
    background: transparent;
    padding: 10px 10px;
    margin: 10px;
    margin-right: 20px;
    border: 1px solid white;
    color: white;
}
.hidden{
    display: none;
}
#drop img{
    width: 20px;
    padding-left: 5px;
    vertical-align: middle;
}

/* section one */
.retail{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.try{
    background-color: green;
    color: white;
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 5px;
}
.get-started{
    background-color: green;
    color: white;
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 5px;
}
.section2-mobile{
    background-color: rgb(10, 10, 66);
    margin: 20px 0 ;
}
.optimize{
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.desk-img{
    display: none;
}
.mobile-img{
    display: block;
}
.desktop{
    display: none;
}
.desktop-multistore{
    display: none;
}
.mobile-multistore{
    padding-bottom: 20px;
    font-size: large;
}
.desktop-upgrade{
    display: none;
}

/* section two */
.section-two{
    background-color: white;
    margin-top: 15px;
}
.star p{
    font-size: smaller;
    font-style: italic;
    padding-top: 10px;
    text-align: center;
}
.content-two{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
}
.star img{
    width: 15%;
    padding-top: 10px;
}
.review{
    width: 80%;
    margin: 0 auto;
    padding:20px 0;
    text-align: center;
}
.review p{
    font-size: large;
    padding-top: 20px;
}
.review h5{
    font-size: x-large;
    color: rgb(6, 6, 43);
}
.timeline {
	width:380px;
	height: 50px;
	list-style: none;
	text-align: justify;
	margin: 50px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(150, 148, 146) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}
.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #5c5b57;;
	text-align: center;
	line-height: 1.2;
	position: relative;
    top: 15px;
	border-radius: 50%;
}
.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
    /* right: 100%; */
	/* left: 30%; */
	transform: translateX(-50%);
}
.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 10px;
    font-weight: bold;
	position: absolute;
	/* left: 10%; */
	transform: translateX(-40%);
}
.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: 40px;
	/* transform: translate(-50%, 100%); */
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -30px;
	/* transform: translate(-50%, -100%); */
}
.pos{
    width: 80%;
    margin: 0 auto;
    padding:20px 0;
    text-align: center;
}
.pos p{
    font-size: 4.5vw;
    padding: 20px 0;
}
.pos h5{
    font-size: x-large;
}
a{
    color: blue;
    font-weight: bold;
}
.macbook{
    width: 50%;
    margin-top: 50px;
    margin-left: -50px;
}
.ipad{
    width: 70%;
    margin-left: 90px;
    margin-top: -170px;
}
.video-gif{
    width: 100%;
   margin-top:-195px;
   margin-left: 112px;
}
video{
    width: 60%;
}
svg{
    margin-top: -140px;
    opacity: 0.2;
}
.pos-machine{
    margin-top: -150px;
    margin-right: -80px;
    
}
.content-three{
    width: 80%;
    margin: 0 auto;
    padding:20px 0;
    text-align: center;
}
.content-three p{
    font-size: 4.5vw;
    padding: 20px 0;
}
.content-three h5{
    font-size: x-large;
}










/* Tablet */
@media screen and (min-width: 768px) {
    .logo{
        width: 70%;
    }
    .left{
        width: 30%;
        
    }
    .menu {
        display: block;
        /* padding-right: 15px; */
        text-transform: capitalize;
        margin-top: 20px;
        margin-right: 10px;
        color: white;
    }
    .free-trial button{
        padding: 10px 10px;
        margin-top: 20px;
    }
    .vend-button{
        display: flex;
    }
    .freetrial{
        width: 33%;
        padding-left: 10px;
    }
    .contactsale{
        width: 33%;
        padding-left: 10px;
    }
    .getsupport{
        width: 33%;
        padding-left: 10px;
    }
    .hamburger{
        width: 15%;
    }
}





/* Desktop */
@media screen and (min-width:1024px){
    .menuitems{
        display: block;
        width: 65%;
        /* padding-left: 0px; */
        font-size: small;
        margin-top: 20px;
    }
    .logo{
        width: 10%;
    }
    .nav-logo p{
        font-size: medium;
       
    }
    .left{
        width: 25%;

    }
    .contact-sales{
        display: block;
        background-color:transparent;
        border: 2px solid white;
        color: white;
        margin: 15px -5px;
    }
    /* .contact-sales{
        display: block;
        width:50% ;
        border: 2px solid white;
       
    } */
    .free-trial{
        background-color: rgb(61, 143, 7);
        margin: 20px ;
        margin-left: 40px;
        padding: 12px 15px;
        border: none;
        color: white;
    }
    /* .free-trial{
        margin-left: 5px;
    } */
    .hamburger{
        display: none;
    }
    .menu{
        display: none;
    }
    .dropdown{
        display: none;
    }
      /* section one */
      .section-one{
          width: 100%;
          margin: 0 auto;
          
      }
    .mobile-img{
        display: none;
    }
    .desk-img{
        display: block;
    }
    .retail{
        position: absolute;
        top: 100px;
        left: 40px;
        width: 30%;
        text-align: left; 
    }
    .retail p{
        font-size: 20px;
    }
    .retail h2{
        font-size: 3vw;
        width: 100%;
        padding-bottom: 10px;
    }
    .try{
        padding: 10px 10px;
    }

    .section2-mobile{
        position: absolute;
        top: 250px;
        right: 50px;
        width: 25%;
        border-radius: 50%;
        padding: 10px;
        
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktop-multistore{
        display:block;
        padding-top: 10px;
    }
    .mobile-multistore{
        display: none;
    }
    .desktop-upgrade{
        display:block;
        font-size: large;
    }
    .mobile-upgrade{
        display: none;
    }
    .optimize p{
        font-size: 20px;
    }
    .get-started{
        width: 60%;
        padding: 10px 0;
    }
    

        /* section two */
    .section-two{
        background-color: white;
        margin-top: 30px;
    }
    .star p{
        font-size: 15px;
        font-style: italic;
        padding-top: 10px;
        text-align: center;
        margin-right: 20px;
        
    }
    .content-two{
        /* width: 100%; */
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        
    }
    .star img{
        margin-right: 15px;
        width: 10%;
    }
    .review{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
   .review h5{
       font-size: xx-large;
       color: rgb(6, 6, 43);
   }
   .review p{
        font-size: 3.5vh;
   }

   /* RECTANGLE */
    .timeline {
        width:900px;
        height: 70px;
        list-style: none;
        text-align: justify;
        margin: 80px auto;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(94, 92, 89) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
    }
    .timeline:after {
        display: inline-block;
        content: "";
        width: 100%;
    }
    .timeline li {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #5c5b57;
        /* text-align: center; */
        line-height: 1.2;
        position: relative;
        top: 25px;
        border-radius: 50%;
    }
    .timeline li:before {
        display: inline-block;
        content: attr(data-year);
        font-size: 26px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline li:after {
        display: inline-block;
        content: attr(data-text);
        font-size: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline li:nth-child(odd):after {
        bottom: 0;
        margin-bottom: 60px;
        transform: translate(-50%, 100%);
    }
    .timeline li:nth-child(even):after {
        top: 0;
        margin-top: -20px;
        transform: translate(-50%, -100%);
    } 

    .pos{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
   .pos h5{
       font-size: xx-large;
    }
   .pos p{
        font-size: 3.5vh;
    }

   .macbook{
        width: 50%;
        margin-top: 100px;
        margin-left: -120px;
        }
    .ipad{
        width: 70%;
        margin-left: 220px;
        margin-top: -420px;
    }
    .video-gif{
        width: 100%;
        margin-top:-470px;
        margin-left: 270px;
    }
    video{
        width: 60%;
    }
    svg{
        margin-top: -400px;
        opacity: 0.1;
    }
    .pos-machine{
        margin-top: -270px;
        margin-right:-130px ;
    }
   
    .content-three{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
   .content-three h5{
       font-size: xx-large;
   }
   .content-three p{
        font-size: 3.5vh;
   }
}


  






























































/* Drop down */
.dropdown{
    width: 100%;
    background-color:whitesmoke;
    margin: 0 auto;
}
.vend{
    border: 1px solid transparent;
    padding: 10px;
}
.vend a{
    color: black;
}
#dropdownmenu img{
    width: 15px;
    padding-left: 5px;
    vertical-align: middle;
    float: right;
}
.vend-button{
    margin: auto;
    width: 90%;
}
.vend-button button{
    width:100%;
    border: 1px solid rgb(10, 153, 189);
    margin-bottom: 10px;
    border-radius: 5px;
}
.freetrial button{
    background-color:  rgb(61, 143, 7);
    
}
